<div class="container">
  <h1>Bem-vindo ao Sistema de Gerenciamento</h1>

  <div class="card-container">
    <!-- Cartão de Gerenciamento de Endereços -->
    <mat-card class="mat-elevation-z4 card">
      <mat-card-title>Gerenciar Endereços</mat-card-title>
      <mat-card-content>
        <p>Cadastre, edite e exclua endereços facilmente.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/endereco">Acessar Endereços</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
