<div class="container mt-4">
    <h2>Lista de Usuários</h2>
    <button class="btn btn-primary mb-3" (click)="goToHome()">Home</button>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  